.ff-heading { @include font($family: $ff-montserrat); }
.ff-base { @include font($family: $ff-opensans); }

.fw-300	{ font-weight: 300; }
.fw-400	{ font-weight: 400; }
.fw-500	{ font-weight: 500; }
.fw-600	{ font-weight: 600; }
.fw-700	{ font-weight: 700; }

.fs-12 { @include font($size: 12px); }
.fs-14 { @include font($size: 14px); }
.fs-16 { @include font($size: 16px); }
.fs-18 { @include font($size: 18px); }
.fs-21 { @include font($size: 21px); }
.fs-24 { @include font($size: 24px); }
.fs-30 { @include font($size: 30px); }
.fs-36 { @include font($size: 36px); }
.fs-42 { @include font($size: 42px); }

.text-center { text-align: center; }
.uppercase { text-transform: uppercase; }

@media (max-width: $screen-md-max) {
    .md-text-center { text-align: center; }
    .md-text-left { text-align: left; }
    .md-text-right { text-align: right; }
}

@media (max-width: $screen-sm-max) {
    .sm-text-center { text-align: center; }
    .sm-text-left { text-align: left; }
    .sm-text-right { text-align: right; }
}

@media (max-width: $screen-xs-max) {
    .xs-text-center { text-align: center; }
    .xs-text-left { text-align: left; }
    .xs-text-right { text-align: right; }
}