.color-white { color: $color-white; }
.color-black { color: $color-black; }
.color-pampas { color: $color-pampas; }
.color-grandis { color: $color-grandis; }
.color-bunting { color: $color-bunting; }
.color-mineshaft { color: $color-mineshaft; }
.color-mercury { color: $color-mercury; }
.color-straw { color: $color-straw; }

.bg-color-white { background: $color-white; }
.bg-color-black { background: $color-black; }
.bg-color-pampas { background-color: $color-pampas; }
.bg-color-grandis { background-color: $color-grandis; }
.bg-color-bunting { background-color: $color-bunting; }
.bg-color-mineshaft { background-color: $color-mineshaft; }
.bg-color-mercury { background-color: $color-mercury; }
.bg-color-straw { background-color: $color-straw; }