.white { color: $white; }
.black { color: $black; }
.pampas { color: $pampas; }
.grandis { color: $grandis; }
.bunting { color: $bunting; }
.mineshaft { color: $mineshaft; }
.mercury { color: $mercury; }
.straw { color: $straw; }

.bg-white { background: $white; }
.bg-black { background: $black; }
.bg-pampas { background-color: $pampas; }
.bg-grandis { background-color: $grandis; }
.bg-bunting { background-color: $bunting; }
.bg-mineshaft { background-color: $mineshaft; }
.bg-mercury { background-color: $mercury; }
.bg-straw { background-color: $straw; }